/* トップメニュー */
.full {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.full .nav{
  padding: 8px 0px 0px;
}
.full .nav .nav-link{
  text-decoration: none;
  color: white;
  padding-left: 16px;
}
a.nav-link.p-r-1:hover {
  background: rgb(153, 153, 153)
}
.full .nav .nav-link.active  {
  background-color: #ECEEEF;
  color: black;
}
.nav-link:hover{
  color: rgb(108, 191, 255);
  transition: .3s;
  text-decoration: underline;
}


h3{
  padding-bottom: 8px;
}
.jumbotron{
  text-align: center;
  
}
h1{
  text-align: center;
}
h1 span{
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .25em;
}
h1 a{
  text-decoration: none;
  color: black;
}
h1 a:hover{
  text-decoration: none;
}

/* ハンバーガーメニュー */
.hamburger{
  display: none;
}
.globalMenuSp{
  display: none;
}
/*  */
h2 span{
  font-size: 20px;
}
.fw-bold{
  font-weight: bold;
}
.line-through{
  text-decoration: line-through;
}

/* テーブル */
.table  {
  border: 3px solid #eee;
}
.table tbody tr:nth-child(even) {
    background: #eee;

}
td img{
  vertical-align: middle;
}
td.scr{
  vertical-align: middle;
}
.scr img{
  width: 100%;
  height: auto;
}

/* card */
.card img{
  width: 90%;
  height: auto;
  margin: 5%;
}

/* フッター */
footer  {
  background: rgb(155, 155, 155);
  border-top: 1px solid #eee;
}
footer .container{
  display: flex;
  padding: 16px;
  -webkit-flex-wrap: wrap;          /* Safari etc. */
  -ms-flex-wrap    : wrap;          /* IE10        */
  flex-wrap        : wrap;
  justify-content: center;
}
footer .container p  {
  text-align: left;
  flex-basis: 50%;
  color: black;

}
footer .container p a  {
  text-align: center;
}
footer .container ul  {
  flex-basis: 50%;
}
footer li{
  list-style: none;

}
footer .nav-link{
  text-decoration: none;
  padding-left: 0px;
  color: black;
}
footer .nav-link:hover  {
  color: black;
}
.copyright  {
  color: white;
}
.copyright p  {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  margin-bottom: 0px;
}
.copyright .nav-link  {
  color: white;
}
.copyright .nav-link:hover  {
  color: white;
}

.p-y-0  {
  padding: 0px auto;
}
.p-x-0  {
  padding: auto 0px;
}



/* スマホサイズ */
@media screen and (max-width:480px){

  body{
    font-size: 14px;
  }
  .display-4{
    font-size: 24px;
  }
  .display-4 span  {
    font-size: 18px;
  }
  .jumbotron p  {
    font-size: 14px;
  }
  .jumbotron a  {
    font-size: 16px;
  }
  h3  {
    font-size: 20px;
  }
  h4  {
    font-size: 18px;
  }

  .full.sticky-top{
    display: none;
  }
  h2 {
    font-size: 18px;
  }
  h2 span  {
    font-size: 16px;
  }
  .card img {
    width: 30%;
  }
  .scr img:nth-of-type(-n+3){
    width: 100%;
  }
  .scr img {
    width: 50%;
  }
  td.col-md-3.col-xs-12.scr {
  text-align: center;
  }
  

  /*　ハンバーガーボタン　*/
  .globalMenuSp.active{
    display: block;
  }
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}
}
