/* トップメニュー */
.full {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.full .nav{
  padding: 8px 0px;
}
.full .nav .nav-link{
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

h3{
  padding-bottom: 8px;
}
.jumbotron{
  text-align: center;
  
}
h1{
  text-align: center;
}
h1 span{
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .25em;
}
